* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: greenyellow;
}

.container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container .title {
  width: 100vw;
  height: 10vh;
  font-size: 50px;
  font-style: italic;
}

.container .topic {
  width: 100vw;
  height: 5vh;
  font-size: 20px;
  font-style: italic;
}

.container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container #num1 {
  width: 20vw;
  height: 3vh;
}

.container button {
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  background-color: aquamarine;
  color: blue;
  font-size: 20px;
  box-shadow: 3px 7px rgb(100, 100, 250);
  transition: all;
}

.container button:active {
  transform: translateY(5px);
  box-shadow: 3px 2px rgb(100, 100, 250);
}
